<div class="panel panel-default">
	<div class="panel-heading">
	      <h3 class="panel-title">
	         <span class="glyphicon glyphicon-repeat" style="font-size:30px;"></span>
	      </h3>
	      <h3>Previous transactions</h3>
	</div>
	<div class="panel-body" style="text-align:center">
		<% @details.each_with_index do |data, index| %>
			
				<div class="row">
				<div class="col-xs-7">
				<div class="well">
				<dl class="dl-horizontal">
  					<dt>Name:</dt>
  					<dd><%= data.first_name+data.last_name %></dd>
  					<dt>Amount:</dt>
  					<dd><%= data.money %>USD → £7,968.23 GBP  </dd>
  					<dt>MTN Number:</dt>
  					<dd><%= data.mtn %></dd>
  					<dt>Fee:</dt>
  					<dd>&pound;191.44</dd>
  					<dt>Date:</dt>
  					<dd><%= data.created_at.strftime("%x") %> UTC</dd>
  					<dt>Status:</dt>
  					<dd><%= data.status %></dd>
  					<dt>Description</dt>
  					<dd>Rails Stripe customer</dd>
				</dl>
				</div>
				</div>
				</div>
				
			
		<%end %>
			
	</div>
     
</div>

