<div class="panel panel-default">
	<div class="panel-heading">
	    <h3>Previous transactions</h3>
	</div>
	<div class="panel-body">
		<div class="panel panel-info">
			<div class="panel-heading"></div>
			<table class="table table-striped">
			<thead>
				<tr>
					<th>Charge Id</th>
					<th>Sender Name</th>
					<th>Amount</th>
					<th>MTN Number</th>
					<th>Fee</th>
					<th>Date</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
			<% @details.each_with_index do |data, index| %>
				<tr>
					<td><a href="<%=dashboard_tbrief_path(data.event.event_id)%>" class='label label-primary'><%=data.event.event_id.truncate(12) %></a></td> 
					<td><%= data.first_name.capitalize + " " + data.last_name.capitalize %></td> 
					<td><%= data.money %>USD → £......... GBP  </td> 
					<td><%= data.mtn %></td> 
					<td>&pound;.........</td> 
					<td><%= data.created_at.strftime("%x") %> UTC</td> 
					<td>..........</td> 	
				</tr>
			<%end %>
			<%if @details.blank? %>
			<tr>
				<td colspan="5">No previous transactions as per our record</td>
				<td colspan="2"><a href="<%=dashboard_index_path %>" class='btn  btn-default'>Send money now</a></td>
			</tr>
			<%end %>
			</tbody>		
			</table>
		</div>
	</div>
</div>
