<div class="panel panel-default">
	<div class="panel-heading base-background">
	    <h3>Previous transactions</h3>
	</div>
	<div class="panel-body">
		<div class="panel panel-info">
			<div class="panel-heading"></div>
			<table class="table table-striped">
			<thead>
				<tr>
					<th>Charge Id</th>
					<th>Sender Name</th>
					<th>Amount</th>
					<th>MTN Number</th>
					<th>Fee</th>
					<th>Date</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
			<% @details.to_enum.with_index.reverse_each do |data, index| %>
				<tr>
					<%if data.status == "pending"%>
						<td><a href="#" class="label label-danger">Transaction Failed</a></td>
					<%else%>
						<td><a href="<%=dashboard_tbrief_path(data.event.event_id)%>" class='label label-primary'><%=data.event.event_id.truncate(12) %></a></td> 
					<%end%>
					<td><%= data.first_name.capitalize + " " + data.last_name.capitalize %></td> 
					<td><%= data.money %> <%=data.currency%> → <%=GoogCurrency.send("#{data.currency}_to_ghs",data.money) %> GBP  </td> 
					<td><%= data.mtn %></td> 
					<td><%= data.money*0.05 %> <%=data.currency%></td> 
					<td><%= data.created_at.strftime("%x") %> UTC</td> 
					<td>..........</td> 	
				</tr>
			<%end %>
			<%if @details.blank? %>
			<tr>
				<td colspan="5">No previous transactions as per our record</td>
				<td colspan="2"><a href="<%=dashboard_index_path %>" class='btn btn-default'>Send money now</a></td>
			</tr>
			<%end %>
			</tbody>		
			</table>
		</div>
	</div>
</div>
