
<!DOCTYPE html>
<html class="html" lang="en-GB">
 <head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <title>Sumasika</title>
  <!-- CSS -->
  
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="scripts/html5shiv.js?4241844378" type="text/javascript"></script>
  <![endif]-->
    <!--HTML Widget code-->
  
			<!--[if gte IE 8] -->
				<!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet"> -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
			<!-- <![endif]-->
			<!--[if IE 7]>
				<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.min.css" rel="stylesheet">
			<![endif]-->
			<style>
				.icon-block:before, .icon-block {
					display: block;
				}
			</style>

		
 </head>
 <body style="background:#e8ebef">

 <%= render :partial => 'layouts/alert' %>
  
 <div id="header" class="row">
     <h1><a href="/">Sumasika</a></h1>
     <div class="navigation">
     <div class="account-dropdown-view" id="dropdownview" style="cursor:pointer">
       <a class="account">
       
        <% if @user.image_stored? %>
           <em style="margin-top: -5px;">
              <%= image_tag @user.image.thumb('24x24#').url, :class => "img-circle"  %>
           </em>
           <% else %>
            <em style="background-image:url(https://secure.gravatar.com/avatar/c1e76de0b4f4f99d72c9d9964985e983?s=32&amp;d=https://stripe.com/img/header/user/16x16.png)"><img src="https://secure.gravatar.com/avatar/c1e76de0b4f4f99d72c9d9964985e983?s=32&amp;d=https://stripe.com/img/header/user/16x16.png" width="16" height="16"></em>
        <% end %>
         <span style="padding-left: 5px;">Your Account</span>
       </a>
       <div class="submenu" id="viewsubmenu">
         <ul class="root">
           <li><a href="<%= dashboard_index_path  %>">Your Dashboard</a></li>
           <li><a href="<%= dashboard_settings_path %>">Account Settings</a></li>
           <li><%= link_to 'Sign Out',sessions_destroy_path %></li>
         </ul>
       </div>
     </div>
 <!-- 
     <ul class="global">
       <li><a href="https://dashboard.stripe.com">Dashboard</a></li>
       <li><a href="/docs" class="selected">Documentation</a></li>
       <li><a href="https://support.stripe.com">Help &amp; Support</a></li>
     </ul> -->
   </div>
 </div>

 <div class="container" style="margin-top:23px">
   <div class="row">
     <div class="col-xs-2">
       <ul id="dashboard-menu">
          <ul class="nav" style="height:25em;"><!-- 'tabs-right' for right tabs -->
                <li class="<%=@dashboard %>">
                  <!-- <a href="#home" style=" border-bottom: 1px solid #E6E6E6;">  </a> -->
              <% # link_to '<span class="glyphicon glyphicon-random" style="padding-right:10px;"></span>
             # <span>Send Money</span>' , charges_path , :style => 'border-bottom: 1px solid #E6E6E6' %>
            
        <%= link_to charges_path, :style => "border-bottom: 1px solid #E6E6E6;" do %>
 
                  <span class="glyphicon glyphicon-random" style="padding-right:10px;"></span>
                   <span>Send Money</span>
        <% end %>
                </li>
                <li class="<%=@transactions %>">
                  <a href="<%= dashboard_transactions_path %>" style="border-bottom: 1px solid #E6E6E6;">
                    <span class="glyphicon glyphicon-repeat" style="padding-right: 10px;"></span><span>Transactions</span>
                  </a>
                </li>
                <li><a href="#messages" style=" border-bottom: 1px solid #E6E6E6;">
                  <span class="glyphicon glyphicon-ok"style="padding-right: 10px;"></span><span>Verification</span></a></li>
                <li><a href="<%=dashboard_settings_path %>" ><span class="glyphicon glyphicon-cog" style="padding-right: 10px;"></span><span>Settings</span></a></li>
                <li><a href=""></a></li>
          </ul>
       </div>    
     <div class="col-xs-10">
 			<%= yield %>      
 		 </div>
   </div>
 </div>
 <% #render :partial => 'layouts/footer' %> 
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
 <script type="text/javascript">
           jQuery(function($) {
               $('#dropdownview').click(function () {
                   $('#viewsubmenu').toggle();
               })
           });
       </script>
 </body>
</html>
