<!DOCTYPE html>
<html class="html" lang="en-GB">
 <head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <title>Sumasika</title>
  <!-- CSS -->
  
  
 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %> 
 
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="scripts/html5shiv.js?4241844378" type="text/javascript"></script>
  <![endif]-->
    <!--HTML Widget code-->
  
			<!--[if gte IE 8] -->
				<!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
				 --><link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
			<!-- <![endif]-->
			<!--[if IE 7]>
				<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.min.css" rel="stylesheet">
			<![endif]-->
			<style>
				.icon-block:before, .icon-block {
					display: block;
				}
			</style>
		
 </head>
 <body>
	  <%=  render :partial => 'layouts/alert' %>
	  <%= yield %>
	  <%= render :partial => 'layouts/footer' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
 </body>
</html>