<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="site_container" style="margin-top:55px;">
	<div class="row">
		<div class="col-xs-6">
			<div class="row" style="text-align:center; position:fixed;">
				
					<h1 class="signuphed">Be a Member in Sumasika</h1>
					<h3 class="signuphed3 pull-right">or <a href="<%= admin_sessions_new_path %>">Login</a></h3>
				
			</div>
		</div>
		<div class="col-xs-6">
		 	<div class="well">
		 		
		 		 <%= form_tag admin_members_create_path do -%>
		 			 <div class="form-group">
		 			 	<%= label_tag 'exampleInputEmail1', 'Email address', :style =>'' %>
		 			    <!-- <label for="exampleInputEmail1">Email address</label> -->
		 			    <%= text_field_tag 'user[email]' , "",class: 'form-control' %>
		 			    
		 			  </div>
		 			  <div class="form-group">
		 			  	<%= label_tag 'exampleInputPassword1', 'Password', :style =>''  %>
		 			    
		 			    <%= password_field_tag 'user[password]' , '',class: 'form-control',placeholder: 'Enter password' %>
		 			   </div>

		 			   <div class="form-group">
		 			    <%= label_tag 'exampleInputPassword1', 'Select Country' , :style =>''  %>
		 			  	<%= country_select("user", "country") %>
		 			   </div>
		 			   
		 			    <div class="form-group">
		 			    <%= label_tag 'exampleInputPassword1', 'First Name', :style =>''  %>
		 			  
		 			
		 			  <%= text_field_tag 'user[first_name]' , "",class: 'form-control' %>
		 			    
		 			    
		 			   </div>
		 			    <div class="form-group">
		 			    <%= label_tag 'exampleInputPassword1', 'Last Name', :style =>''  %>
		 			  
		 			
		 			  <%= text_field_tag 'user[last_name]' , "",class: 'form-control' %>
		 			    
		 			   </div>
		 			  <div class="form-group">
		 			    <%= label_tag 'exampleInputPassword1', 'Number And Street Address', :style =>''  %>
		 			  
		 			
		 			  <%= text_field_tag 'user[address]' , "",class: 'form-control' %>
		 			    
		 			   </div>
		 			   
		 			 <div class="form-group">
		 			    <%= label_tag 'exampleInputPassword1', 'Date Of Birth',:style =>'' %>
		 			  
		 			  <%= date_field_tag 'user[dob]' , "",class: 'form-control' %>
		 			    
		 			   </div>
		 			<div class="form-group">
		 				
		 			<div class="g-recaptcha" data-sitekey="6LfVSwATAAAAACc6_aLCbg6fyItZUMF_fwIUNqfP"></div>
		 			</div>

		 		  <div class="checkbox">
		 		    <label>
		 		      <input type="checkbox"> I agree to allow Sumasika to confirm the identity information I have submitted.
		 		    </label>
		 		  </div>


		 			<%= submit_tag 'Submit',class: 'btn btn-success',name: 'register' %>


		 			  <!-- <button type="submit" class="btn btn-success btn-xl">Submit</button>  -->
		 			<% end -%>
		 		
		 	</div>
		</div>
	</div>
	
</div>